<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Pizzeria!</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link href="style.css" rel="stylesheet">
</head>
<body>

<div id="container">
    <div id="top">
        <h1>Navigation area</h1>
    </div>
    <div id="left">
        <h1>left side</h1>
    </div>

    <div id="right">
        <h1>right side</h1>
    </div>

    <div id="content">

        <div>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
        </tr>
        </div>

        <div>
        <tr th:each="pizza: ${pizzas}">
            <td th:text="${pizza.name}"/>
            <td th:text="${pizza.cost}"/>
        </tr>
        </div>

        <h1 th:text="${something}"/>
    </div>

    <div id="footer">
        <h1>footer</h1>
    </div>
</div>



</body>
</html>